main.*
pdfa.*
*.out
*.bbl
*.fls
*.log
*.xdv
*.lua
*.aux
*.blg
!main.tex
old/*
*.pdf
*.gz
*.xml
*.fdb_latexmk
*.bcf
*.fdb_latexmk
reference.info
personal.info
cv-reference.info
cv-personal.info
cl-intro.info
cl-personal.info